h1 {
	text-align: center;
}

p {
	font-size: 20px;
	margin: 10px;
	padding-left: 445px;
	text-align: center;
	max-width: 1400px;
}

img {
	float:left;
	width: 275px;
	height: 325px;
	margin: 20px;
	border-radius: 20px;
}

a {
	padding: 14px 25px;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #f44336;
	color: white;
}